.shortcut-button {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px !important;
  width: 100%;
  margin-bottom: 5px;

  border: 1px dashed #fff !important;
  background-color: #f5f8fb !important;
  color: #393e46 !important;

  // !#zh: 移除动画，防止因为动画导致的拖拽延迟
  // !#en: remove animation to prevent moving delay
  // transition: all .25s;
  // transition: none !important;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
  .shortcut-icon {
    padding: 4px;
  }

  // !#zh: learn from ant-design-vue button style which prevent show the select area
  // !#en: 从 ant-design-vue 借鉴而来，防止从组件列表拖拽元素至画布过程中，出现用户选中文字内容效果
  user-select: none;
  span {
    pointer-events: none;
  }
}

.shortcut-maps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 6px 2px 0px;

  .shortcut-card {
    position: relative;
    width: calc(49.999% - 5px);
    user-select: none;

    > .shortcut-card-content {
      position: relative;
      border: 1px solid #EEE;
      width: 100%;
      height: 100px;
      transition: 0.15s;
      text-align: center;

      > .shortcut-card-blank {
        position: relative;
        width: 100%;
        height: 100px;
        text-align: center;
  
        > img {
          position: relative;
          display: inline-block;
          max-width: calc(100% - 2px);
          max-height: 98px;
          object-fit: cover;
        }
  
        > span {
          position: absolute;
          display: inline-block;
          width: 100%;
          text-align: center;
          left: 0px;
          top: 70px;
          font-size: 12px;
          color: #AAA;
        }
      }

      > .shortcut-icon {
        width: calc(100% - 2px);
        height: 98px;
        line-height: 98px;
        font-size: 30px;
        text-align: center;
        color: #999;
        transition: 0.15s;
      }

      > img {
        position: absolute;
        margin: auto;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        display: inline-block;
        max-width: calc(100% - 2px);
        max-height: 98px;
        line-height: 98px;
        text-align: center;
        object-fit: scale-down;
      }
    
      &:hover {
        border-color: #CCC;

        > .shortcut-icon {
          color: #333;
        }
      }
    }
  
    
  
  
    > .shortcut-card-title {
      display: inline-block;
      padding-top: 4px;
      padding-bottom: 16px;
      font-size: 12px;
      color: #BBB;
    }
  }
}

.shortcut-category-title {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 2px;
  margin-bottom: 2px;
  margin-left: 6px;
}
